@import 'tailwindcss';

@layer base {
  /* make poppins the global font */
  :root {
    --font-sans: 'poppins', ui-sans-serif, sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }
  /*  button gradient class */
  .primary-gradient {
    @apply bg-linear-to-r  from-gradient-primary-pink  from-10% to-gradient-orange to-100%;
  }

  /* text gradient class */
  .gradient-text {
    @apply text-7xl bg-linear-to-r from-gradient-primary-pink  from-10% to-gradient-orange to-100% inline-block bg-clip-text text-transparent font-medium;
  }
}

@theme {
  /* header bottom border color */
  --color-header-border: oklch(0.922 0 0);
  /* border color */
  --color-border-gray: oklch(0 0 0 / 10.2%);
  /* button gradient colors */
  --color-gradient-primary-pink: oklch(0.6532 0.2393 357.42);
  --color-gradient-secondary-pink: oklch(0.6453 0.2429 13.73);
  --color-gradient-orange: oklch(0.6766 0.2137 34.25);

  /* muted foreground */
  --color-gray-foreground: oklch(0.5546 0.0261 285.52);

  
}

/* scroll bar */
body::-webkit-scrollbar {
  width: 5px; /* width of the vertical scrollbar */
}

body::-webkit-scrollbar-track {
  background: inherit; /* color of the track */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #d6caca; /* color of the draggable handle */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the handle on hover */
}
